* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .start {
  text-align: center;
  color: #fcf6f6;
  height: 100vh;
  font-family: arial;
  position: absolute;
  bottom: 0px;
  background-image: url("https://s.yimg.com/ny/api/res/1.2/pqPAqCFJfTIZyBghaYudAQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD04MDA-/https://s.yimg.com/uu/api/res/1.2/iff2S4PnCJEX2kebJkjuog--~B/aD03Njg7dz0xMzY2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/pt/canal_tech_990/0c2850074dd634248cef1eb239cdad6d");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

body .start .inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  margin: 1px solid black;
  position: absolute;
  top: 50%;
  left: 48%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 3rem;
  cursor: pointer;
}

body .start .inicio:hover {
  background-color: red;
  color: yellow;
  width: 6rem;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  left: 48%;
}

body .background {
  display: none;
  position: absolute;
  bottom: 0px;
  background-image: url("./images/backmario.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: bottom;
  animation: slideright 170s infinite linear;
  -webkit-animation: slideright 170s infinite linear;
  width: 100%;
  height: 100vh;
}

body .dino {
  position: absolute;
  bottom: 250px;
  background-image: url("./images/iudi.gif");
  background-position: top;
  background-size: cover;
  width: 140px;
  height: 150px;
}

body .cactus {
  position: absolute;
  width: 60px;
  height: 100px;
  bottom: 25px;
  background-image: url("./images/planta.png");
  background-position: center;
  background-size: cover;
}

body .game-over {
  text-align: center;
  color: #fcf6f6;
  height: 100vh;
  font-family: arial;
  position: absolute;
  bottom: 0px;
  background-image: url("https://cdn.vox-cdn.com/thumbor/3MFYPyqgxJksM66PjPDKlJIHH1k=/0x0:1531x861/1400x1050/filters:focal(644x309:888x553):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/55584745/maxresdefault.0.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

body .game-over h1 {
  margin: 2% 0;
}

body .game-over h3 {
  text-align: center;
  color: #fcf6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

body .restart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  margin: 1px solid black;
  position: absolute;
  top: 35%;
  left: 48%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 3rem;
  cursor: pointer;
}

body .restart:hover {
  background-color: red;
  color: yellow;
  width: 6rem;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  left: 48%;
}

@-webkit-keyframes slideright {
  from {
    background-position: 1500%;
  }
  to {
    background-position: 0%;
  }
}

@keyframes slideright {
  from {
    background-position: 1500%;
  }
  to {
    background-position: 0%;
  }
}
/*# sourceMappingURL=style.css.map */